# =========================
# GENERAL
# =========================
.DS_Store
Thumbs.db

# =========================
# NODE / ANGULAR
# =========================
node_modules/
dist/
.angular/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# .NET / C#
# =========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
TestResults/
*.VisualState.xml
*.cache
*.dll
*.exe

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# =========================
# ENV / SECRETS
# =========================
.env
.env.*
appsettings.Development.json
secrets.json

# =========================
# DATABASE
# =========================
*.mdf
*.ldf

# =========================
# BUILD OUTPUT
# =========================
publish/
out/

# =========================
# OS
# =========================
*.swp
*.tmp